ray[data,train,tune,serve]
shortuuid
python-dotenv

sqlalchemy
psycopg2-binary

transformers
tiktoken
openai

pydantic
pydantic-settings
traitlets

#nltk
#pymupdf
#llama_index
#pyvis
# for code completion, installed remotely by ray
#torch - install with conda install pytorch torchvision torchaudio pytorch-cuda=12.1 -c pytorch -c nvidia
#if not using vs code
#jupyter==1.0.0
#notebook==6.5.4
